---
import Header from "../components/Header.astro"
import AboutUsComp from "../components/AboutUsComp.astro"
---
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>О нас</title>
  </head>
  <body>
    <Header></Header>
    <AboutUsComp></AboutUsComp>
    
  </body>
</html>