---
import Header from "../components/Header.astro"

import AllProducts from "../components/AllProducts.astro"
import { promise } from "astro:schema";

const products = [
  { name: 'Cухофрукты', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Перец', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Изюм', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Cухофрукты', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Перец', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Изюм', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Cухофрукты', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Перец', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Изюм', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
];
---
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Каталог</title>
  </head>
  <body>
    <Header></Header>
    

    <nav class="head_tovar">
        <div class="text_cont_head_tovar">
            <h1>Все товары</h1>
        </div>
    </nav>

    <AllProducts products={products}></AllProducts>


  </body>
</html>

<style>
    .head_tovar{
        background-color: rgb(197, 108, 34);
        color: white;
        height: 120px;
        display: flex;
    }
    .text_cont_head_tovar{
      display: flex;
      width: 65%;
      margin: 0 auto;
      font-size: 45px;
      align-items: center;
    }
    /* --------------------------- */
    .nav_card_cont{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        margin: 0 auto;
    }
    .card_container{
        display: flex;
        flex-flow: column;
        flex: 1 1 40%;
        max-width: 305px;
        height: 300px;
        margin: 10px;
    }
    .card_container p {
        
    }
    .img_prod{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }

</style>
