---
import Header from "../components/Header.astro"
import Base from "../components/Base.astro"
import CatalogContent from "../components/CatalogContent.astro"
import FooterContent from "../components/FooterContent.astro"
import AllProducts from "../components/AllProducts.astro"



const products = [
  { name: 'Cухофрукты', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Перец', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Изюм', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Cухофрукты', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Перец', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Изюм', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Cухофрукты', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Перец', price: '200₽', image: '/images/almond.jpg' },
  { name: 'Изюм', price: '100₽', image: '/images/almond.jpg' },
  { name: 'Орехи', price: '200₽', image: '/images/almond.jpg' },
];
---

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Бизнес и хлеб - Главная</title>
		<link rel="stylesheet" href="/src/styles/global.css">
	</head>
	<body>
		<Header></Header>
		<Base></Base>
		<CatalogContent></CatalogContent>

		<AllProducts products={products} title="Популярные товары"
		limit={8}
		buttontoall = 'Перейти ко всем товарам'></AllProducts>

		<FooterContent></FooterContent>
	</body>
</html>
