---
import '../styles/header.css';
---

<header>
  <div class="logo">Бизнес и хлеб</div>
  <nav class="nav-links">
    <a href="./">Главная</a>
    <a href="./catalog">Каталог</a>
    <a href="./AboutUs">О нас</a>
    <a href="./contact">Контакты</a>
  </nav>
  <div class="spacer"></div>
</header>

